.App {
  text-align: center;
}

.logoNav{
  width:80px;
  height: 80px;
}

/* INICIO */

.imgPrincipal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh;
align-items:flex-end;
justify-items:end; 
background-image: url(../src/assets/img/portada.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}


.caracteristicas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
align-items: center;
justify-items: center; 

}

.caract {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
align-items: center;
justify-items: center; 
}

.caract h3{
padding: 10px;
font-family: "Roboto", sans-serif;
text-transform: uppercase;
font-size: 15px;

}

/* DETALLES */

.containerDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  margin: 0 auto;
}

.containerDetail img {
  width: 400px;
  margin: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 2px #4b4b4b3e;
}

.containerDetail .containerDetailInfo {
  margin: 15px 20px;
  width: 80%;
}

h2 {
  color: #ff8000;
  margin-bottom: 16px;
}

p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 14px;
  line-height: 1.5;
}

.description {
  font-weight: 700;
  font-size: 50px;
  color: black;
}

.containerDetailInfoPrice {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.containerDetailInfoPrice h3 {
  font-size: 19px;
  font-weight: 300;
  text-decoration: line-through;
  margin-right: 10px;
}

/* BANNER */
.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh;
align-items:flex-end;
justify-items:end; 
background-image: url(../src/assets/img/banner.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

/* formulario */
.main__formulario {
  max-width: 800px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  font-family: "Nunito", sans-serif;
  background-color: silver;
}

.main__formulario h5 {
  text-align: center;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__grupo-btn-enviar {
  grid-column: span 2;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px #a3a3a3;
}

@media screen and (max-width: 800px) {
  .formulario {
    grid-template-columns: 1fr;
  }

  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: span 1;
  }

  .formulario__btn {
    width: 100%;
  }

  .formulario {
    font-size: 12px;
  }
}

/* formulario */
.orden_compra {
  max-width: 800px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
}